<!Doctype html>
<html>
    <head>
        <title>calc</title>
        <link href="{{ url_for('static', filename='style.css') }}" type='text/css' rel="stylesheet" />
        <script src="{{ url_for('static', filename='calc.js') }}" type="text/javascript" ></script>
    </head>
    <body>
        <div id="header">Calculator</div>
        <div id="big_wrapper" >
            <div id="main_calc">
                <input type='textarea' id="calc_display" />
                <table id="keyboard">
                    <tr class='top_button'><td class='top_button'>AC</td><td class='top_button'>+/-</td><td class='top_button'>%</td><td class='right_button'>/</td></tr>
                    <tr><td class='mid_button'>7</td><td class='mid_button'>8</td><td class='mid_button'>9</td><td class='right_button'>x</td></tr>
                    <tr><td class='mid_button'>4</td><td class='mid_button'>5</td><td class='mid_button'>6</td><td class='right_button'>-</td></tr>
                    <tr><td class='mid_button'>1</td><td class='mid_button'>2</td><td class='mid_button'>3</td><td class='right_button'>+</td></tr>
                    <tr><td class='mid_button'>0</td><td class='mid_button'>00</td><td class='mid_button'>.</td><td class='right_button'>=</td></tr>
                </table>
            </div>
        </div>
    </body>
</html>