<!Doctype html>
<html>
    <h1>{{User}}'s Site</h1>
    <p>
        Going to try to actual build (and finish) a few projects.

    </p>
    <p>
        Going to use a Python-Flask as the MVC framework and html/css/javascript to do most of the fun stuff.
    </p>
    <p>
        <h3>Project 1 - a calculator app</h3>
        <a href='/calc'>go to calculator app</a>
        <h3>Project 2 - Color Picker</h3>
        <a href='/colorpicker'>go to color picker app</a>
        <h3>Project 3 - Amazon - Roku Project Notes</h3>
        <a href='/AWS'>go to Amazon - Roku project notes</a>

    </p>
</html>