<!doctype html>
<html>
	<head>
		<style>
			table td{
				border: 1px solid #303030;
				white-space: nowrap;
			}
			#map{
				height: 600px;
				width: 1000px;
				margin: 10px;
			}
		</style>
		<script type="text/javascript" >
		var map;
		function initMap() {

			var map = new google.maps.Map(document.getElementById('map'),{ center: {lat: 41.8, lng: -87.7}, zoom: 12});

			var myLatLng = {};

  			var locations = document.getElementById('myTable');

  			var marker;

  			for(var i = 0; i < locations.rows.length; i++){
	  				myLatLng = {lat: parseFloat(locations.rows.item(i).cells[1].innerHTML), lng: parseFloat(locations.rows.item(i).cells[2].innerHTML)};
	  				marker = new google.maps.Marker({
	    				position: myLatLng,
	    				map: map,
	    				title: locations.rows.item(i).cells[0].innerHTML
	    			});
  			}
		}
	</script>
	</head>
	<body>
		<div id="map">map goes here</div>
	<!---		<table id='myTable'>
		{% for i in payload %}
		{% if i.20 == "NOT YET ORGANIZED" %}
			<tr>
				<td>{{ i.9 }}</td>
				<td>{{ i.79 }}</td>
				<td>{{ i.80 }}</td>
				<td>{{ i.10 }}</td>
				<td><a href='{{ i.15 }}'>{{i.15}}</a></td>
				<td>{{ i.20 }}</td>
			</tr>
			<!---		{% endif %}
		{% endfor %}
		</table>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqJFo0-kcwtsJOCAyoYB921HAw1YnUBj8&callback=initMap"
        async defer></script>
         -->
	</body>
</html>